

a:hover {
    color: #C92071;
    text-decoration: underline;
}

li>a {
    color: gray;
}

.form-header {
    width: 40%;
    display: flex;
}

.form-header input {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 5px 0 0 5px;
    /* width: 80%; */
}



.form-header button {
    border-radius: 0 5px 5px 0;
    padding: 12px 12px;
    background-color: #f2f2f2;
}



