* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid red; */

}
.coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    display: block;
    justify-items: space;
    align-items: gap;
    background-color: #FFF;
    /*como botar espaçamento entre os itens? (Duvidas!!!)*/

}
.p1 {
    display: flex;
    justify-content: space-around;
    margin: 40px 30px;
    color: #FFFF;

}
/* mouse over link */
a:hover {
    color: #C92071;
    text-decoration:underline;
  }
.nav {
    margin-left: 10px;
    padding: 15px 72px 15px 49px;
    background-color: #FFFF;  
    color: #C92071;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 500;
    /* align-items: center; */
    /* position: sticky; */

}
label {
    display: flex;
    align-items: center;
}

label > a {
   color: rgb(63, 61, 61);
   text-decoration:underline;  
}

.a:hover {
    color: #C92071;
    text-decoration:underline;
  }

ul.header {
    color: lightgray;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 36px;
       
}
/* mouse over link */
a:hover {
    color: #C92071;
    text-decoration:underline;
    
  }
a:hover {
  color: #C92071;
  background-color: transparent;
  text-decoration: underline;
}

li >a {
    color: gray;
}

ul.header>li:hover {
    color: gray;
    text-underline-offset: 5px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    font-weight: 700;

}

.form-header {
    width: 40%;
    display: flex;
}

.form-header input {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 5px 0 0 5px;
    width: 80%;
}

.form-lebel {
    color: #f2f2f2;
}


.form-header button {
    border-radius: 0 5px 5px 0;
    padding: 12px 12px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

input {
    width: 10%;
    border-radius: 5px 0 0 5px;
    border-radius: 0 5px 5px 0;
    border-color: lightgray;
    padding: 12px;
}

/* NÃO MEXER NO UL */
ul {
    list-style-type: none;/*remove marcadores*/
    margin: 0;
}

/* NÃO MEXER NO BUTTON */
button {
    background-color: #C92071;
    color: white;
    font-weight: bolder; /*super negrito*/
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    width: 100px;

}


img {
    object-fit: contain;
}