

a:hover {
    color: #C92071;
    text-decoration: underline;
}

li>a {
    color: gray;
}

ul.header>li:hover {
    color: gray;
    text-underline-offset: 5px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    font-weight: 700;

}

.form-header {
    width: 40%;
    display: flex;
}

.form-header input {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 5px 0 0 5px;
    width: 80%;
}

.form-lebel {
    color: #f2f2f2;
}


.form-header button {
    border-radius: 0 5px 5px 0;
    padding: 12px 12px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

input {
    width: 10%;
    border-radius: 5px 0 0 5px;
    border-radius: 0 5px 5px 0;
    border-color: lightgray;
    padding: 12px;
}

/* NÃO MEXER NO UL */
ul {
    list-style-type: none;
    /*remove marcadores*/
    margin: 0;
}

/* parei aqui!!! */
/* NÃO MEXER NO BUTTON */
button {
    background-color: #C92071;
    color: white;
    font-weight: bolder;
    /*super negrito*/
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    width: 100px;

}